.battle-wrapper {
    height: 790px;
}

.jumbotron {
    padding: 1rem;
}

#combat-stats {
    background: black;
    height: 300px;
}

.combat-log {
    background: red;
    height: 300px;
}

.enemy-cards {
    height: 300px;
}

.player-cards {
    height: 400px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    margin-top: 10px;
}

.card {
    color: black;
}

.player-equipped {
    width: 20%;
    float: left;
    margin-top: 1%;
}

.player-character {
    margin-top: 5rem;
}

.progress {
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.progress-bar {
    background-color: red;
}

.equipped-combat {
    height: 200px;
    width: 160px;
}

.container {
    max-width: 1300px;
}