.front-card {
    height: 100px;
    margin-top: 0;
    margin-bottom: 3%;
}

.class-available {
    background: forestgreen;
}

.class-description {
    background: orange;
}

.random-card {
    background: brown;
}