img {
    float: right;
    margin-right: 15%;
}

.enemy-stats {
    width: 50%;
    margin-top: 5%;
    font-size: 24px;
}

.enemy-img-container {
    margin-top: 5%;
}

#enemy-img {
    width: 180px;
    height: 224px;
}