body {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    background-image: url("https://hdwallsource.com/img/2014/2/1080p-fantasy-wallpapers-20499-21016-hd-wallpapers.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.jumbotron {
    border-radius: 18px;
    background-color: black;
    color: white;
}

.btn {
    margin-top: 4%;
    width: 60%;
}

h1 {
    margin-bottom: 4%;
}

h3 {
    margin-bottom: 3%;
}

.front-card {
    height: 200px;
    margin-top: 3%;
}

.form-group {
    width: 60%;
    margin-left: 20%;
}

#sign-in {
    width: 50%;
    float: left;
}

#register {
    width: 50%;
    float: right;
}