#map-box {
    overflow: hidden;
    width: 1000px;
    height: 700px;
    /* background-color: red; */
    background-image: url(./background.png);
    position: absolute;
}

#text-box {
    position: relative;
    left: -200px;
}

.react-draggable, .cursor {
    cursor: move;
}

area {
    cursor: pointer;
}