#map-box {
    overflow: hidden;
    width: 1000px;
    height: 700px;
    background-color: red;
}

/* #text-box {
    width: 2000px;
    height: 2000px;
    background-color: blue;
} */

.react-draggable, .cursor {
    cursor: move;
}

area {
    cursor: pointer;
}